.wrapper{
    grid-template-areas: "h" 
    "m"
     "f";
     height: 100%;
     display: grid;
     grid-template-rows: 1fr 5fr 1fr;
     padding-left: 6%;
     padding-top: 3%;
     padding-bottom: 4%;
    
  }


.section_info{
    overflow: hidden;
      grid-area: L;
   }

.section_info_header{
    grid-area: h;
    
   }

  .section_info__item{
   padding-right: 6%;
   font-weight:bold;
   cursor: pointer;
   color: black;
   white-space: nowrap;
  }

  .title{
    grid-area: m;
    align-self: center;
    padding-top: 45%;
    line-height: 0;
   }

   
 .title__name{
    font-size: 64px;
  }
 
  .section_info_footer{
   grid-area: f;
   align-self: end;
   
  }

  .title__design{
    font-size: 24px;
  }
 
  .menu_wrapper{
    visibility: hidden;
    position: fixed;
  }

   .section_info_menu Link {
    color: black;
   }

   @media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px)  {

.wrapper{
   
     height: 100%;
     display: flex;
     }
.section_info{
  height: 100%;
  padding: 11% 8%;
     }
.section_slider{
      height: 100%;
         }     
    
 .section_info_footer {
   visibility: hidden;
   position: fixed;
 }
 
 .section_info_header{
   visibility: hidden;
   position: fixed;
 }
 .footer{
   visibility: hidden;
   position: fixed;
 }
 
 .title{
   padding-top: 20%;
   margin-right: 10%;
   align-self: auto;
 }
 .title__name {
  font-size: 26px;
 }
 .title__design {
  font-size: 19px;
}



.menu{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.menu_wrapper{
  visibility: visible;
  position: relative;
  width: 30px;
  cursor: pointer;
}

.wrapper{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.wrapper_line{
  height: 8px;
}
}


