.section_slider{
    grid-area: R;
   }
  
   .section_slider{
   
    overflow: hidden;
    position: relative;
  }
  .wrapper_slider{
    height: 100%;
  }

  .section_slider__item{
    color: white;
    cursor: pointer;
  }

  .section_slider_menu{

  }
 

  .section_slider_menu{
    display: flex;
    justify-content: space-between;
  }

  .section_slider__item{
    padding-right: 5%;
  }

  .section_slider__item__phone{
    margin-right: 30%;
  }

  .footer{
    position: absolute;
    left: 15%;
    bottom: 3%;
    width: 84%;
   }