
*{
  margin:0;
  padding:0;
  }

html , body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  
}

#root{
  height: 100%;
   
}

li {
  list-style-type: none; 
  color: #000000;
 }
 ul {
  margin-left: 0; 
  padding-left: 0; 
 }

 a { 
  color: #000000;
  text-decoration: none; 
}

.section_info__item:hover{
  color: #000000;
  text-decoration: none; 
}

A:hover { 
  text-decoration:none; 
  
 } 

 .App{
  height: 100%;
 
 }
 .Home{

  height: 100%;
  display:grid;
  grid-template-areas: "L R ";
  grid-template-columns: 17fr 20fr;
}



 
.menu{
   display: flex;
 }



 
 @media only screen 
 and (min-width : 1824px) {
 /* Styles */
 }
 
 /* Desktops and laptops ----------- */
 @media only screen 
 and (min-width : 1224px) {
 /* Styles */
 }
 
 
 /* Smartphones (landscape) ----------- */
 @media only screen 
 and (min-width : 321px) {
 /* Styles */
 }
 
 /* Smartphones (portrait) ----------- */
 @media only screen 
 and (max-width : 400px) {
  .Home{

    height: 100%;
    display:flex;
    flex-direction: column;
  }
  

  .title__design{
      font-size: 14px !important;
  }
   .title{
    line-height: 0.8;
   }


     
   }