.wrapper_contact{
    height: 100%;

    position: relative;
}

p{
    margin: 0 !important;
    padding: 0 !important;
}

.contact_info_text{
    font-weight:bold;
}

.contact{
    position: relative;
    height: 100%;
    display:grid;
    grid-template-areas: " m l r" " ... ... f ";
   
    grid-template-columns:3fr 5fr 10fr;
    grid-template-rows: 92% 8%;

    white-space: nowrap;
  
}

.footer{
    grid-area: f;
}

.contact_main{
    display: flex;
    grid-area: m;
    justify-content: flex-end;
    height: 100%;
}


.contact_info_second{
    height: 100%;
    
    grid-area: r;
    display: flex;
    flex-direction: column;
    
    
 
}

.contact_info_first{
    
    grid-area: l;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    margin-left: 15%;

}

.contact_info_text{
  
}

.contact_info_first_menu{

    margin-top: 19%;
    display: flex;
    flex-direction: column;
  
  
    
}

.contact_info_first_menu__item{
    margin-top:40px;}

.title{
line-height: 1.3;
font-size: 45px;

text-transform: uppercase;
}

.title_sub{
font-size: 16px;
line-height: 1;
}


.contact_info_second__text{
font-size: 45px;
line-height: 54px;
text-transform: uppercase;
position: absolute;
top: 20%;

}

.contact_main_text{
    opacity: 0.5;
    color: #000000;
}

.contact_main_text:hover{
    color: #000000;
    text-decoration: none; 
}

.contact_menu{
    display: flex;
    justify-content: space-between;
}

.wrapper_contact{
    position: absolute;
    top: 3%;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.contact_menu__item__phone{
    margin-right :30%;
}

.contact_menu__item__en{
    margin-right :5%
}

.wrapper_grid{
    position: relative;
    height: 97%;
}

@media only screen 
and (min-width : 1824px) {

    .footer_nav{
        margin-top: 1%;
    } 
}


@media only screen 
and (max-width : 1462px) {
   

    .contact_main_text{
        font-size: 12px ;
    }
    .contact_info_text{
        font-size: 12px ;
    }
    .contact_menu__item{
        font-size: 12px ;
    }
    .title{
        font-size: 30px ;
        line-height: 1;
    }
    .contact_info_second__text{
        font-size: 30px;
    }   

  
}





/* Smartphones (portrait) ----------- */
