.portfolio-main{
    grid-area: m;
    height: 100%;
    
}

.portfolio-work--first{
    grid-area: f;
    height: 100%;
}

.portfolio-work--second{
    grid-area: s;
    height: 100%;
}

.portfolio{
   
    height: 97%;
    display:grid;
    grid-template-areas: "m f s ";
    grid-template-columns: 5fr 20fr 22fr;
    font-size: 16px;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 3%;
    left: 3%;
   
  }

  .portfolio-main-text{
    opacity: 0.5;
  }

  .portfolio-sort{
    opacity: 0.5;
  }

  .portfolio-work-period {
    font-weight:bold;
  }

  .portfolio-work--second .section-slider__item{
      color:black;
  }

  .portfolio-work--second{
      position: relative;
  }


 
  .portfolio-work-photo-name{
    color: black;
   
  }
.portfolio-work-photo--first{
    margin-top: 10%;
}

.portfolio-work-photo--second{
    margin-top: 43%;
    
}
.portfolio-work-photo img{
    width:60%;
   
}

.portfolio-work-photo-name{
    margin-top: 3%;
}



.portfolio .footer .section-slider-menu{
    margin: 0;
}

.wrapper-portfolio{
    height: 100%;
    position: relative;
}

.portfolio Footer{
left: 0;
}